<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link href="/css/gamesuitstyle.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">
            <img src="/img/_.png" href="index.html" class="d-inline-block align-top" alt="" />
          </a>
          <a class="nav-item nav-link" href="#">
            <img src="/img/logo 1.png" class="d-inline-block align-top" alt="" />
          </a>
          <a class="nav-item nav-link" href="#">Rock Scissor Papper</a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="column" style="background-color: burlywood">
          <h2>PLAYER</h2>
          <div class="area-player">
            <ul>
              <li>
                <img src="/img/rock.png" class="rock" />
              </li>
              <li>
                <img src="/img/scissor.png" class="scissor" />
              </li>
              <li>
                <img src="/img/papper.png" class="papper" />
              </li>
            </ul>
          </div>
        </div>

        <div class="column" style="background-color: burlywood">
          <h2></h2>

          <div class="info"> VS </div>
        </div>

        <div class="column" style="background-color: burlywood">
          <h2>COMPUTER</h2>
          <div class="area-komputer">
            <ul>
              <li>
                <img src="/img/rock.png" id="img-computer-rock"/>
              
              </li>
              <li>
                <img src="/img/scissor.png" id="img-computer-scissor" />
              </li>
              <li>
                <img src="/img/papper.png" id="img-computer-papper" />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <img src="/img/refresh 3.png" onclick="refreshPage()" />
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
