<h1>register</h1>

<form action="/register" method="POST">
  <label for="email"> email </label>
  <br />
  <input type="email" name="email" placeholder="enter email" />
  <br />

  <label for="password"> password </label>
  <br />
  <input type="password" name="password" placeholder="enter password" />
  <br />

  <button type="submit">sign up</button>
</form>
